.travel-class button {
    width: 100%;
    font-size: 19px;
    padding: 10px;
    background: red;
    color: #fff;
}
.travel-class button i {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 15px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 100px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    display: none;
}
ul.dropdown-menu.show {
    width: 100%;
    padding: 30px;
}
select.select-class {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.increase-decrease-list p {
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #e1e6f1;
}