body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-design input {
  width: 100%;
  padding: 11px;
  outline: none;
  margin-top: 7px;
  border: none;
  border-bottom: 1px solid rgb(187, 183, 183);
  background: #e3e8f0;
  padding-left: 32px;
}
.input-design input::placeholder {
  color:gray;
  font-size: 16px;
}
.oneway-or-return label {
  font-size: 16px;
  font-weight: 600;
}
.done-button {
  border: none;
}